* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-cachorro {
    width: 400px;
}

button {
    color: white;
    background-color: #c51111;
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 40px;
}

.logo-cachorro {
    height: 500px;
}

body {
   height: 100vh;
}

.caixa-principall {
    width: 40%;
}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    width: 100vw;
}

.caixa-mae {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    height: 100vh;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

p {
    color: white;
    font-size: 30px;
}

a img{
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 20px;
}